html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*background-color: white;*/
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerWebpage {
    background-color: rgba(100,100,100,0);
}

#websiteLogo {
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Lato;
    font-size: 4vh;
    animation: 1.6s textTitle;
    text-shadow: 1.2px 1.2px rgba(54, 54, 54,0.6);
}

.mainPageTitle, .mainPageSubTitle {
    width: 100%;
    height: 4.6%;
    color: black;
    margin: 0;
    text-align: center;
    font-family: Lato;
    text-shadow: 1.2px 1.2px rgba(54, 54, 54,0.6);
}

.pinkText {
    color: #e3027f;
}

#navigationContainer {
    width: 100%;
    height: 4%;
    margin: 0;
    padding: 0;
}

.menuItemsWrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 101%;
    height: 100%;
}

.menuItem {
    float: left;
    width: 33%;
    background-color: rgba(168, 198, 159,0.6);
}

    .menuItem:hover {
        transition: ease-in-out;
        transition-duration: 0.2s;
        color: rgb(101, 79, 111);
    }

.linkMenuItem {
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.8vh;
    padding-top: 0.4em;
}

#contactcontent {
    width: 40%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0 0 10px black; 
    box-shadow: 0 0 10px black; 
    animation: 0.7s fadeInContainer;
}

.contactTitle {
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    font-family: RobotoRegular, Arial, Lato;
}

input, textarea, label, .activateContact {
    display: inline-block;
    width: 33.33%;
    margin-left: 33.33%;
}

label {
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
}

.activateContact {
    margin-top: 3%;
    display: block;
}

#productsSection {
    float: right;
    width: 25%;
    height: 50%;
    margin-right: 4.5%;
    padding-top: 1.5%;
    animation: 0.7s fadeInContainer;
}

.productImg, .productImg1 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    display: block;
    border: solid 0.1em black;
    -webkit-box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.75);
}

.imageProductTitle, .imageProductTitle1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 78%;
    position: fixed;
    bottom: -15;
    padding-left: 1%;
}

#cookieStatement {
    width: 23%;
    position: fixed;
    bottom: -15;
    right: 0;
    color: #FFF;
    background-color: rgba(255, 170, 0, 0.5); /*FA0 = rgb(255, 170, 0)*/
    text-align: center;
}

.footerStudentInfo {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1179px) {
    .headerWebpage {
        background-color: rgba(100,100,100,0);
        float: left;
        width: 50%;
    }

    #websiteLogo {
        width: 100%;
        height: 5%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Lato;
        font-size: 2vh;
        animation: 1.6s textTitle;
        text-shadow: 1.2px 1.2px rgba(54, 54, 54,0.6);
        float: left;
    }

    .mainPageTitle, .mainPageSubTitle {
        width: 100%;
        height: 4.6%;
        color: black;
        margin: 0;
        text-align: center;
        font-family: Lato;
        text-shadow: 1.2px 1.2px rgba(54, 54, 54,0.6);
        font-size: 2vh;
        float: left;
        display: block;
    }

    .pinkText {
        color: #e3027f;
    }

    #navigationContainer {
        width: 50%;
        height: 4%;
        margin: 0;
        padding: 0;
        float: right;
    }

    .menuItemsWrapper {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 101%;
        height: 100%;
        float: right;
    }

    .menuItem {
        float: none;
        display: block;
        width: 100%;
        background-color: rgba(168, 198, 159,0.6);
    }

    #contactcontent {
        width: 40%;
        height: auto;
        float: left;
        margin-left: 36%;
        margin-top: 2%;
        background-color: #F5F5F5;
        -webkit-box-shadow: 0 0 10px black; /* box shadow alle kanten. */
        box-shadow: 0 0 10px black; /* box shadow alle kanten. */
    }

    #productsSection {
        float: left;
        width: 25%;
        height: 50%;
        margin-left: 44.5%;
        padding-top: 1.5%;
        animation: 0.7s fadeInContainer;
    }

    input, textarea, label, .activateContact {
        display: inline-block;
        width: 60%;
        margin-left: 20%;
    }

    .footer {
        width: 50%;
    }

    #cookieStatement {
        width: 50%;
    }
}

@keyframes textTitle {
    0% {
        font-family: Lato;
        letter-spacing: 0.02em;
        transform: translateY(-1.4em);
    }

    50% {
        font-family: Lato;
        letter-spacing: 0.07em;
        transform: translateY(-0.1em);
    }

    100% {
        font-family: Lato;
        letter-spacing: normal;
    }
}

@keyframes fadeInContainer {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}