/*color pallet : https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25 
    light olive green: #606C38 
    (dark) kombu green : #283618
    'white' : #FEFAE0
    light orange : #DDA15E
    dark orange : #BC6C25

*/

body, header {
    padding: 0;
    margin: 0;
    background-color: #e8eddf;
}

#websiteLogo {
    width: 100%;
    height: 3%;
    background-color: #e8eddf;
    margin: 0;
    padding: 0;
}

.mainPageTitle, .mainPageSubTitle {
    width: 100%;
    height: 5%;
    color: #f5cb5c;
    background-color: #e8eddf;
    margin: 0;
    padding: 0;
}

#navigationContainer {
    width: 100%;
    height: 4%;
    margin: 0;
    padding: 0;
}

.menuItemsWrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 101%;
    height: 100%;
}

.menuItem {
    float: left;
    width: 33%;
}

.linkMenuItem {
    display: block;
    height: 100%;
    text-align: center;
    background-color: lightgray;
    text-decoration: none;
    color: black;
}

#solarEnergyVideo {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: purple;
}